// Config for all break points
$tiny: 375px;
$small: 480px;
$medium: 760px;
$large: 1200px;

@mixin tiny-up {
  @media (min-width: #{$tiny}) { @content; }
}

@mixin small-up {
  @media (min-width: #{$small}) { @content; }
}

@mixin medium-up {
  @media (min-width: #{$medium}) { @content; }
}

@mixin medium-only {
  @media (min-width: #{$medium} and (max-width: calc(#{$large} - 1px))) { @content; }
}

@mixin large-up {
  @media (min-width: #{$large}) { @content; }
}
