/// All Type Styles

/* Import Fonts */
@font-face {
  font-family: Inter-light;
  src:
    url('../../src/_fonts/I/Inter-Light.woff') format('woff');
}

@font-face {
  font-family: Inter-regular;
  src:
    url('../../src/_fonts/I/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: Inter-medium;
  src:
    url('../../src/_fonts/I/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: Inter-bold;
  src:
    url('../../src/_fonts/I/Inter-Bold.woff') format('woff');
}
@font-face {
  font-family: Inter-black;
  src:
    url('../../src/_fonts/I/Inter-Black.woff') format('woff');
}

h1, h2, h3, h4 {
  font-family: 'Inter-bold', 'Helvetica Neue', 'Open Sans', sans-serif;
  margin: 0px;
}

@mixin h1 {
  letter-spacing: -0.250rem;
  font-size: 6vw;
  line-height: 6.5vw;

  @include medium-up {
    font-size: 8vw;
    line-height :8vw;
  }
  @include large-up {
    font-size: 10vw;
    line-height: 10vw;
  }
}

h1,
.h1,
%h1 {
  @include h1;
}
