/* Import Fonts */
@font-face {font-family: Akzidenz-light;src: local('../src/fonts/AkzidenzGroteskBE-Light.woff'), url('../src/fonts/AkzidenzGroteskBE-Light.woff') format('woff');}
@font-face {font-family: Akzidenz-regular;src: local('../src/fonts/AkzidenzGroteskBE-Regular.woff'), url('../src/fonts/AkzidenzGroteskBE-Regular.woff') format('woff');}
@font-face {font-family: Akzidenz-medium;src: local('../src/fonts/AkzidenzGroteskBE-Medium.woff'), url('../src/fonts/AkzidenzGroteskBE-Medium.woff') format('woff');}
@font-face {font-family: Akzidenz-bold;src: local('../src/fonts/AkzidenzGroteskBE-Bold.woff'), url('../src/fonts/AkzidenzGroteskBE-Bold.woff') format('woff');}
@font-face {font-family: Akzidenz-super;src: local('../src/fonts/AkzidenzGroteskBE-Super.woff'), url('../src/fonts/AkzidenzGroteskBE-Super.woff') format('woff');}

/* Heading Font Apperance */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4 {
    font-family: 'Akzidenz-super', 'Helvetica Neue', 'Open Sans', sans-serif;
    margin: 0px; padding-bottom: 0px;
}
h1 {font-family: 'Akzidenz-bold', sans-serif; font-size: 3.2rem;line-height: 3.2rem;}
h2 {font-family: 'Akzidenz-bold', sans-serif; font-size: 2.2rem;line-height: 2.2rem;} 
h3 {font-family: 'Akzidenz-bold', sans-serif; font-size: 1.6rem;line-height: 1.8rem;}
h4 {font-family: 'Akzidenz-bold', sans-serif; font-size: 1.2rem;line-height: 1.2rem;text-transform: uppercase;}

/* Paragraph and Subtitle Font Appearance */
p {font-family: 'Akzidenz-super', 'Helvetica Neue', 'Open Sans', sans-serif;font-size: 1.5rem;line-height: 2.2rem;}
.subtitle--title {font-family: 'Akzidenz-bold', sans-serif;font-size: 1rem;}
.subtitle--body {font-family: 'Akzidenz-regular', sans-serif;font-size: 1rem;}
/* Font Weights */
.style--light {font-family: 'Akzidenz-light', sans-serif;}
.style--regular {font-family: 'Akzidenz-regular', sans-serif;}
.style--medium {font-family: 'Akzidenz-medium', sans-serif;}
.style--bold {font-family: 'Akzidenz-bold', sans-serif;}
.style--super {font-family: 'Akzidenz-super', sans-serif;}
/* Appearances */
.style--underline {text-decoration: underline;}

/* Wrapper Setup */
.wrapper--page {margin: 0 auto;width: 90vw;}

/* Frame Setup */
.frame {margin-bottom: 80px;}
.frame--fullwidth {width: 100%;height: 600px;}
.frame--halfwidth {width: 100%;}
.frame--content--fullsize {position: absolute;bottom:10%;left:5%;width:80%;margin:0 auto;}
.frame--content {position:relative;padding: 80px 48px 0px 48px;}
/* Positioning Setup */
.position--left, .mobileposition--top {position: relative;float: left;}
.position--right, .mobileposition--bottom {position: relative;float: right;}

/* Page Sections */
.section--intro, .section--portfolio {margin-top: 100px;}
.subsection--portfolio {position: relative;;margin-top:100px;}

/* Navigation Setup */
.section--navigation {content: "";clear: both;display: table;margin-top:100px;}
.section--navigation ul {list-style-type: none;padding:0px;margin:0px;position: relative;}
.section--navigation li {float:left;}
.nav--link {text-decoration: none;font-size:1.4em;margin-right: 80px;}

/* Image Setup */
.image--main {width:100%; height:100%;margin: 0 auto;max-width:500px;margin-bottom:40px;}
/* Image Collection */
.chewy--cover {position: relative;}
.chewy--ini-1 {background: url(../images/chewy-ini-1.png) center center !important; background-repeat:no-repeat; background-size: 50% 50%;}



.square {
    position: relative;
    width: 50%;
    background: red;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 75%;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }




/* Media Queries */

@media all and (min-width: 1200px) {
    h1 {font-size: 4.2rem;line-height: 4.2rem;}
    h2 {font-size: 2.6rem;line-height: 2.8rem;} 
    h3 {font-size: 2.2rem;line-height: 2.6rem;}
    h4 {font-size: 1.6rem;line-height: 2.0rem;}
    .wrapper--page {min-width: 952px;max-width: 1600px;width: 90vw;}
    .frame {margin-bottom: 240px;}
    .frame--halfwidth {min-height: 480px;width: 49%;margin-right: 2%;margin-bottom: 240px;}
    .frame--halfwidth:nth-child(1n+1) {margin-right: 0%;}
    .frame--content--fullsize {width:60%;margin:0 auto;bottom:5%;}
    .section--intro, .section--portfolio {margin-top: 300px;}
}

@media all and (max-width: 1200px) and (min-width: 700px) {
    .wrapper--page {min-width: 652px;max-width: 952px;width: 90vw;}
    .section--intro, .section--portfolio {margin-top: 160px;}
    .frame {min-height: 520px;margin-bottom: 160px;}
    .frame--halfwidth {margin-bottom:16px;}
    .frame--content--fullsize {width:80%;margin:0 auto;}
    .frame--content {padding: 0px; width: 80%;margin-bottom:80px;}
    .section--navigation {margin-top:80px;}
    .nav--link {margin-right: 64px;}
    .image--main {max-width:320px;}
}

@media all and (max-width: 700px) and (min-width: 480px){
    p {font-size: 1.2rem;line-height: 2.0rem;}
    .wrapper--page {min-width: 448ppx;max-width: 652px;width: 90vw;}
    .frame--content--fullsize {width:80%;margin:0 auto;bottom:5%;left:10%;}
    .frame--halfwidth {min-height: 375px;margin-bottom: 16px;}
    .frame--content {margin: 0px;padding:0px;}
    .section--navigation {margin-top:40px;}
    .nav--link {margin-right: 40px;}
    .image--main {max-width:300px;}
}

@media all and (max-width: 480px) and (min-width: 0px){
    p {font-size: 1.2rem;line-height: 2.0rem;}
    .wrapper--page {max-width: 448px;width: 90vw;}
    .frame--content--fullsize {width:80%;margin:0 auto;bottom:5%;left:10%;}
    .frame--halfwidth {min-height: 375px;margin-bottom: 16px;}
    .frame--content {margin: 0px;padding:0px;}
    .section--navigation {margin-top:40px;}
    .nav--link {margin-right: 24px;}
    .image--main {max-width:280px;}
}