@use 'styles/theme';

/* Import Fonts */
@font-face {font-family: Inter-light;src: local('../src/_fonts/I/Inter-Light.woff'), url('../src/_fonts/I/Inter-Light.woff') format('woff');}
@font-face {font-family: Inter-regular;src: local('../src/_fonts/I/Inter-Regular.woff'), url('../src/_fonts/I/Inter-Regular.woff') format('woff');}
@font-face {font-family: Inter-medium;src: local('../src/_fonts/I/Inter-Medium.woff'), url('../src/_fonts/I/Inter-Medium.woff') format('woff');}
@font-face {font-family: Inter-bold;src: local('../src/_fonts/I/Inter-Bold.woff'), url('../src/_fonts/I/Inter-Bold.woff') format('woff');}
@font-face {font-family: Inter-black;src: local('../src/_fonts/I/Inter-Black.woff'), url('../src/_fonts/I/Inter-Black.woff') format('woff');}

/* Heading Font Apperance */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4 {
    font-family: 'Inter-bold', 'Helvetica Neue', 'Open Sans', sans-serif;
    margin: 0px;
}
h1 {font-size: 3.2rem;line-height: 3.2rem;letter-spacing:-0.250rem;}
h2 {font-size: 2.2rem;line-height: 2.2rem;letter-spacing:-0.075rem;} 
h3 {font-size: 1.6rem;line-height: 1.8rem;letter-spacing:-0.075rem;}
h4 {font-size: 1.2rem;line-height: 1.2rem;letter-spacing:-0.075rem;text-transform: uppercase;}


/* Paragraph and Subtitle Font Appearance */
p {font-family: 'Inter-black', 'Helvetica Neue', 'Open Sans', sans-serif;font-size: 1.5rem;line-height: 2.2rem;}
.subtitle--title {font-family: 'Inter-bold', sans-serif;font-size: 1rem;}
.subtitle--body {font-family: 'Inter-regular', sans-serif;font-size: 1rem;}
/* Font Weights */
.style--light {font-family: 'Inter-light', sans-serif;}
.style--regular {font-family: 'Inter-regular', sans-serif;}
.style--medium {font-family: 'Inter-medium', sans-serif;}
.style--bold {font-family: 'Inter-bold', sans-serif;}
.style--black {font-family: 'Inter-black', sans-serif;}
.style--major {font-size:20vw;line-height: 4rem;letter-spacing:-0.15rem; text-transform:uppercase;}
.style--major span {letter-spacing:-0.3rem;}
/* Appearances */
.style--underline {text-decoration: underline;}

/* Wrapper Setup */
.wrapper--page {margin: 0 auto;width: 90vw;}

/* Page Sections */
.section--intro, .section--portfolio {margin-top: 100px;}
.subsection--portfolio {position: relative;;margin-top:100px;}

/* Navigation Setup */
.section--navigation {content: "";clear: both;display: table;margin-top:100px;}
    .section--navigation ul {list-style-type: none;padding:0px;margin:0px;position: relative;}
    .section--navigation li {float:left;}
    .nav--link {text-decoration: none;font-size:1.4em;margin-right: 80px;}

.grid--row {display: table; width:100%; height:auto; position: relative; margin-bottom: 80px;}
    .content--cover {position: relative;width: 100%;float:left;max-width:1600px;}
    .content--cover:after {content: "";display: block;padding-bottom:50%;}
    .content--block {position: relative;width: 50%;float:left;max-width:800px;}
    .content--block:after {content: "";display: block;padding-bottom:100%;}
    .content--block-collapse {position: relative;width: 50%;float:left;max-width:800px;}
    .content--block-collapse:after {content: "";display: block;padding-bottom:100%;}
    .content {position: absolute;width: 100%;height: 100%;padding: 16% 80px; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
    .content--edgerail {padding-left: 0px !important;}   

.position--left {position: relative;float: left !important;}
.position--right {position: relative;float: right !important;}

.space-below-small {padding-bottom: 40px;}
.space-below-medium {padding-bottom: 80px;}



.image {
    background: url(/images/test.png) center center;
    background-size: 800px 800px;
    background-repeat: no-repeat;
}

.image--test {
    background: url(/images/test.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
}




















/* Media Queries */
@media all and (min-width: 1200px) {
    /* type */
    h1 {font-size: 4.2rem;line-height: 4.2rem;}
    h2 {font-size: 2.6rem;line-height: 2.8rem;} 
    h3 {font-size: 2.2rem;line-height: 2.6rem;}
    h4 {font-size: 1.6rem;line-height: 2.0rem;}
    /* wrapper */
    .wrapper--page {min-width: 952px;max-width: 1600px;width: 90vw;}
    .section--intro, .section--portfolio {margin-top: 300px;}
}

@media all and (max-width: 1200px) and (min-width: 750px) {
    /* type */
    h1 {font-size: 3.8rem;line-height: 3.8rem;}
    h2 {font-size: 3.7vw;line-height: 2.2rem;} 
    h3 {font-size: 2.0rem;line-height: 2.0rem;}
    h4 {font-size: 1.6rem;line-height: 2.0rem;}
    p {font-size: 2.2vw;line-height: 3.0vw;}
    /* wrapper */
    .wrapper--page {min-width: 702px;max-width: 952px;width: 90vw;}
    .section--intro, .section--portfolio {margin-top: 160px;}
    .section--navigation {margin-top:80px;}
    .nav--link {margin-right: 64px;}
    /* grid */
    .content {padding: 3vw;}
}

@media all and (max-width: 750px) and (min-width: 480px){
    /* type */
    p {font-size: 1.2rem;line-height: 2.0rem;}
    /* wrapper */
    .wrapper--page {min-width: 448ppx;max-width: 702px;width: 90vw;}
    .section--navigation {margin-top:40px;}
    .nav--link {margin-right: 40px;}
    /* grid */
    .grid--row {margin-bottom: 40px;}
    .content--block, .content--block-collapse {width: 100%;}
    .content {padding: 60px 0px;}
    .content--block-collapse:after {position:relative; display:table;margin:0px;padding-bottom:20rem; }
}

@media all and (max-width: 480px) and (min-width: 0px){
    /* type */
    h2 {font-size: 1.8rem;line-height: 2.0rem;} 
    p {font-size: 1.0rem;line-height: 1.5rem;margin-block-start: 16px;margin-block-end: 16px;}
    /* wrapper */
    .wrapper--page {max-width: 448px;width: 90vw;}
    .section--navigation {margin-top:40px;}
    .nav--link {margin-right: 24px;}
    /* grid */
    .grid--row {margin-bottom: 0px;height: auto;}
    .content--block, .content--block-collapse {width: 100%;}
    .content {padding: 32px 0px 0px 0px;}
    .content--block-collapse:after {position:relative; display:table;margin:0px;padding-bottom:25rem; }
}