/* Import Fonts */
@font-face {font-family: Inter-light;src: local('../src/_fonts/I/Inter-Light.woff'), url('../src/_fonts/I/Inter-Light.woff') format('woff');}
@font-face {font-family: Inter-regular;src: local('../src/_fonts/I/Inter-Regular.woff'), url('../src/_fonts/I/Inter-Regular.woff') format('woff');}
@font-face {font-family: Inter-medium;src: local('../src/_fonts/I/Inter-Medium.woff'), url('../src/_fonts/I/Inter-Medium.woff') format('woff');}
@font-face {font-family: Inter-bold;src: local('../src/_fonts/I/Inter-Bold.woff'), url('../src/_fonts/I/Inter-Bold.woff') format('woff');}
@font-face {font-family: Inter-black;src: local('../src/_fonts/I/Inter-Black.woff'), url('../src/_fonts/I/Inter-Black.woff') format('woff');}

.page-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

/* Final Video Styles */
.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter-Regular';
}

h2 {
    font-size: 2.25vw;
    line-height: 2.2rem;
    letter-spacing:-0.075rem;
    padding-bottom: 10px;
    font-family: 'Inter-Bold';

}

p {
    font-size: 1.25vw;
    line-height: 2.25vw;
}

.flexbox-item {
    width: 50%;
}

.p1 {
    order:1;
}
.p2 {
    order:2;
}
.p3 {
    order:3;
}
.p4 {
    order:4;
}

.content-image {
    min-height: 288px;
    background: orange;
}
.content-image:before {
    content:'';
    float:left;
    padding-top:100%;
}

.content-type {
    height: auto;
    background: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:40px;
}

.content-edgerail {
    padding-left: 0px;
}   


@media all and (max-width: 750px) and (min-width: 480px){
    .flexbox-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 718px;
    }    
    .flexbox-item {
        width: 100%;
    }
    .content-image {
        order: 1;
        background: yellow;
    }
    
    .content-type {
        background: violet;
        order: 2;
        padding: 0px;
    }
}
