/* Import Fonts */
@font-face {
  font-family: Inter-light;
  src: url("../../src/_fonts/I/Inter-Light.woff") format("woff"); }

@font-face {
  font-family: Inter-regular;
  src: url("../../src/_fonts/I/Inter-Regular.woff") format("woff"); }

@font-face {
  font-family: Inter-medium;
  src: url("../../src/_fonts/I/Inter-Medium.woff") format("woff"); }

@font-face {
  font-family: Inter-bold;
  src: url("../../src/_fonts/I/Inter-Bold.woff") format("woff"); }

@font-face {
  font-family: Inter-black;
  src: url("../../src/_fonts/I/Inter-Black.woff") format("woff"); }

h1, h2, h3, h4 {
  font-family: 'Inter-bold', 'Helvetica Neue', 'Open Sans', sans-serif;
  margin: 0px; }

h1,
.h1 {
  letter-spacing: -0.250rem;
  font-size: 6vw;
  line-height: 6.5vw; }
  @media (min-width: 760px) {
    h1,
    .h1 {
      font-size: 8vw;
      line-height: 8vw; } }
  @media (min-width: 1200px) {
    h1,
    .h1 {
      font-size: 10vw;
      line-height: 10vw; } }
/* Heading Font Apperance */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h2 {
  letter-spacing: -0.075rem; }

h3 {
  letter-spacing: -0.075rem; }

h4 {
  letter-spacing: -0.075rem;
  text-transform: uppercase; }

/* Paragraph and Subtitle Font Appearance */
p {
  font-family: 'Inter-regular', 'Helvetica Neue', 'Open Sans', sans-serif; }

.subtitle--title {
  font-family: 'Inter-bold', sans-serif;
  font-size: 1rem; }

.subtitle--body {
  font-family: 'Inter-regular', sans-serif;
  font-size: 1rem; }

/* Font Weights */
.style--light {
  font-family: 'Inter-light', sans-serif; }

.style--regular {
  font-family: 'Inter-regular', sans-serif; }

.style--medium {
  font-family: 'Inter-medium', sans-serif; }

.style--bold {
  font-family: 'Inter-bold', sans-serif; }

.style--black {
  font-family: 'Inter-black', sans-serif; }

/* Special Circumstances */
.style--major {
  font-size: 8vmax;
  line-height: 9vmax;
  letter-spacing: -0.15vmax;
  text-transform: uppercase; }

.style--major span {
  letter-spacing: -0.3rem; }

/* Text Decoration */
.style--underline {
  text-decoration: underline; }

.style--strikethrough {
  text-decoration: line-through; }

.style--surround {
  text-decoration: underline overline; }

/* Wrapper Setup */
.wrapper--page {
  margin: 0 auto;
  width: 90vw; }

/* Page Sections */
.section--intro,
.section--portfolio {
  position: relative;
  margin-top: 100px; }

/* Navigation Setup */
.section--navigation {
  content: "";
  clear: both;
  display: table;
  margin-top: 100px; }

.section--navigation ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: relative; }

.section--navigation li {
  float: left; }

.nav--link {
  text-decoration: none;
  font-size: 1.4em;
  margin-right: 80px; }

/* Flexbox Work Grid */
.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  flex-wrap: wrap; }

.flexbox-item {
  width: 100%; }
  @media (min-width: 760px) {
    .flexbox-item {
      width: 50%; } }
.content-image {
  min-height: 288px;
  background: orange;
  background-size: 800px 800px;
  background-repeat: no-repeat; }

.content-image:before {
  content: '';
  float: left;
  padding-top: 100%; }

.content-type {
  height: auto;
  background: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 40px; }

.content-edgerail {
  padding-left: 0px; }

/* Flexbox Content Order */
.image {
  background: url(/images/test.png) center center;
  background-size: 800px 800px;
  background-repeat: no-repeat; }

.image--test {
  background: url(/images/test.png) center center;
  background-size: cover;
  background-repeat: no-repeat; }

/* Media Queries */
@media all and (min-width: 1200px) {
  /* type */
  h2 {
    font-size: 6vmin;
    line-height: 6vmin; }
  h3 {
    font-size: 4vmin;
    line-height: 4vmin; }
  h4 {
    font-size: 3vmin;
    line-height: 3vmin; }
  p {
    font-size: 2.5vmin;
    line-height: 3.5vmin; }
  /* wrapper */
  .wrapper--page {
    min-width: 952px;
    max-width: 1600px;
    width: 90vw; }
  .section--intro,
  .section--portfolio {
    margin-top: 300px; } }

@media all and (max-width: 1200px) and (min-width: 750px) {
  /* type */
  h1 {
    font-size: 8vmax;
    line-height: 8vmax; }
  h2 {
    font-size: 5vmax;
    line-height: 5vmax; }
  h3 {
    font-size: 3vmax;
    line-height: 3vmax; }
  h4 {
    font-size: 2vmax;
    line-height: 2vmax; }
  p {
    font-size: 1.8vmax;
    line-height: 2.4vmax; }
  /* wrapper */
  .wrapper--page {
    min-width: 702px;
    max-width: 952px;
    width: 90vw; }
  .section--intro,
  .section--portfolio {
    margin-top: 160px; }
  .section--navigation {
    margin-top: 80px; }
  .nav--link {
    margin-right: 64px; } }

@media all and (max-width: 750px) and (min-width: 480px) {
  /* type */
  h2 {
    font-size: 5vw;
    line-height: 5vw; }
  h3 {
    font-size: 3vw;
    line-height: 3vw; }
  h4 {
    font-size: 2vw;
    line-height: 2vw; }
  p {
    font-size: 1.8vw;
    line-height: 2.4vw; }
  /* wrapper */
  .wrapper--page {
    min-width: 448ppx;
    max-width: 702px;
    width: 90vw; }
  .section--navigation {
    margin-top: 40px; }
  .nav--link {
    margin-right: 40px; }
  /* grid */
  .flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 718px; }
  .flexbox-item {
    width: 100%; }
  .content-type {
    padding: 0px; } }

@media all and (min-width: 0px) and (max-width: 480px) {
  /* type */
  h2 {
    font-size: 5vw;
    line-height: 5.5vw; }
  h3 {
    font-size: 4vw;
    line-height: 4.5vw; }
  h4 {
    font-size: 3vw;
    line-height: 3.5vw; }
  p {
    font-size: 2.5vw;
    line-height: 3.5vw; }
  /* wrapper */
  .wrapper--page {
    max-width: 448px;
    width: 90vw; }
  .section--navigation {
    margin-top: 40px; }
  .nav--link {
    margin-right: 24px; }
  /* grid */
  .flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 718px; }
  .flexbox-item {
    width: 100%; }
  .content-type {
    padding: 0px; } }

.flexbox-container:nth-child(odd) {
  flex-direction: row-reverse; }

@use 'styles/theme';
.effect--noeffects {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none !important; }

.effect--rounded {
  border-radius: .5em; }

.effect--left-round {
  border-radius: .5em 0em 0em .5em; }

.effect--right-round {
  border-radius: 0px .5em .5em 0em; }

.effect--top-round {
  border-radius: .5em .5em 0em 0em; }

.effect--bottom-round {
  border-radius: 0em 0em .5em .5em; }

.effect--circular {
  border-radius: 1000px; }

.effect--dropshadow {
  -webkit-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  -moz-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2); }

.effect--insetshadow {
  -webkit-box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065);
  -moz-box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065);
  box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065); }

.button--small {
  width: auto;
  padding: 16px 24px;
  background: rgba(26, 106, 255, 0.1);
  border-radius: 100px;
  text-decoration: none;
  color: #1a6aff; }

.button--small:hover {
  background: #1a6aff;
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  -moz-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2); }

.button--small:active {
  background: rgba(26, 106, 255, 0.7);
  color: #222;
  -webkit-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  -moz-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2); }

@media (prefers-color-scheme: light) {
  body {
    background: white; }
  .frame {
    background: #f2f2f7; }
  .frame--inner {
    background: white; }
  .frame--empty {
    background: none; }
  .type {
    color: black; }
  .type a {
    color: black; }
  .type-invert {
    color: white; }
  .image--mark {
    background: url(../images/logo/logo-dark.svg) center center;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 60px 19px; }
  .effect--insetshadow {
    -webkit-box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065);
    -moz-box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065);
    box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065); }
  .theme--chewy {
    background-color: #128ced; } }

@media (prefers-color-scheme: dark) {
  body {
    background: black; }
  .frame {
    background: #1c1c1e; }
  .frame--inner {
    background: #2c2c2e; }
  .type {
    color: white; }
  .type a {
    color: white; }
  .type-invert {
    color: black; }
  .image--mark {
    background: url(../images/logo/logo-light.svg) center center;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 60px 19px; }
  .effect--insetshadow {
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1); }
  .theme--chewy {
    background-color: #128ced; } }
