@use 'styles/theme';
.effect--noeffects {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none !important; }

.effect--rounded {
  border-radius: .5em; }

.effect--left-round {
  border-radius: .5em 0em 0em .5em; }

.effect--right-round {
  border-radius: 0px .5em .5em 0em; }

.effect--top-round {
  border-radius: .5em .5em 0em 0em; }

.effect--bottom-round {
  border-radius: 0em 0em .5em .5em; }

.effect--circular {
  border-radius: 1000px; }

.effect--dropshadow {
  -webkit-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  -moz-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2); }

.effect--insetshadow {
  -webkit-box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065);
  -moz-box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065);
  box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065); }

.button--small {
  width: auto;
  padding: 16px 24px;
  background: rgba(26, 106, 255, 0.1);
  border-radius: 100px;
  text-decoration: none;
  color: #1a6aff; }

.button--small:hover {
  background: #1a6aff;
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  -moz-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2); }

.button--small:active {
  background: rgba(26, 106, 255, 0.7);
  color: #222;
  -webkit-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  -moz-box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2);
  box-shadow: 0 0 1px 0 rgba(40, 43, 48, 0.1), 0 6px 10px rgba(40, 43, 48, 0.1), 0 1px 2px rgba(40, 43, 48, 0.2); }

@media (prefers-color-scheme: light) {
  body {
    background: white; }
  .frame {
    background: #f2f2f7; }
  .frame--inner {
    background: white; }
  .frame--empty {
    background: none; }
  .type {
    color: black; }
  .type a {
    color: black; }
  .type-invert {
    color: white; }
  .image--mark {
    background: url(../images/logo/logo-dark.svg) center center;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 60px 19px; }
  .effect--insetshadow {
    -webkit-box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065);
    -moz-box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065);
    box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065); }
  .theme--chewy {
    background-color: #128ced; } }

@media (prefers-color-scheme: dark) {
  body {
    background: black; }
  .frame {
    background: #1c1c1e; }
  .frame--inner {
    background: #2c2c2e; }
  .type {
    color: white; }
  .type a {
    color: white; }
  .type-invert {
    color: black; }
  .image--mark {
    background: url(../images/logo/logo-light.svg) center center;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 60px 19px; }
  .effect--insetshadow {
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1); }
  .theme--chewy {
    background-color: #128ced; } }
